.about-container {
  padding: 80px 100px;
  background-color: #f5f8ff;
  text-align: center;
  min-height: 100vh;
}

.about-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-title span {
  background: linear-gradient(to right, #2463eb, #9333ea);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-intro {
  font-size: 1.2rem;
  color: #555;
  max-width: 800px;
  margin: 0 auto 50px;
  line-height: 1.6;
}

.about-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 60px;
}

.about-card {
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 30px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.about-card h2 {
  color: #2463eb;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.about-card p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}



@media (max-width: 768px) {
  .about-container {
    padding: 50px 20px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  
}
