.nav-bar {
  background: #75c3f1;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 500; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.navbar-logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #3a30c9;
 
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #2463eb;
}

.nav-button {
  background: #2463eb;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  transition: background 0.3s;
}

.nav-button:hover {
  background: #1a4ecb;
}
