* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

body {
  background-color: #f5f8ff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}


html, body, #root {
  height: 100%;
}

